*,::before,::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family:"微软雅黑",sans-serif;
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{
    border: none;
    outline: none;
}



.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
[class^="icon_"]{
    background: url()no-repeat;
    background-size: 200px 200px;
}
.m_110{
    margin-left:10px; 
}
.m_110{
    margin-right:10px; 
}
.m_110{
    margin-bottom:10px; 
}
.m_110{
    margin-top:10px; 
}


.hm_topBar{
    width: 100%;
    height: 45px;
    background: url() repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid rgb(134, 133, 133);
    position: absolute;
}
.hm_topBar>[class^="icon_"]{
    position: absolute;
    top:0;
    height: 44px;
    width: 40px;
    padding: 12px 10px;
    background-clip: content-box;
    background-origin: content-box;
}
.hm_topBar>.icon_back{
    left: 0;
    background-position: -20px 0;
}
.hm_topBar>.icon_menu{
    right: 0;
    background-position: -60px 0;
}
.hm_topBar>form{
    width: 100%;
    height: 44px;
    padding: 0 40px;
}
.hm_topBar>form>input{
    width: 100%;
    border: 1px solid rgb(107, 104, 104);
    border-radius: 4px;
    height: 30px;
    margin-top:7px; 
}
.hm_topBar>h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
}



/* ------搜索栏------ */
.hm_header{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
}
.hm_header>.hm_header_box{
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background: rgba(241, 0, 20, 0.8);
    height:40px;
    position: relative;
}
.hm_header>.hm_header_box>.icon_logo{
    width: 60px;
    height: 36px;
    position: absolute;
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}
.hm_header>.hm_header_box>.login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(71, 71, 71);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}
.hm_header>.hm_header_box>form{
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}
.hm_header>.hm_header_box>form>input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}
.hm_header>.hm_header_box>form>.icon_search{
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top: 10px;
    left: 85px;
}


/* 轮播图 */
.hm_banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.hm_banner>ul:first-child{
    width: 1000%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}
.hm_banner>ul:first-child>li{
    width: 10%;
    float: left;
}
.hm_banner>ul:first-child>li>a{
    width :100%;
    display: block;
}
.hm_banner>ul:first-child>li>a>img{
    width: 100%;
    /*
    font-size: 0;
    block
     veartical-align:middle; 
     */
     display: block;
}
.hm_banner>ul:last-child{
    width: 118px;
    height: 6px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left:-59px; 
}
.hm_banner>ul:last-child>li{
    width: 6px;
    height: 6px;
    float: left;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}
.hm_banner>ul:last-child>li>a{
    background: #fff;
}
.hm_banner>ul:last-child>li>a>img{
    margin-left:0; 
}